<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="row : ${a}">
    <h3 th:text="${row.getDefaultMessage()}"></h3>
</div>
<div>
    <form th:action="@{/subject/save}" th:object="${create}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td><input type="submit" value="Create subject"></td>
            </tr>
        </table>
    </form>
</div>
<a th:href="@{/student}">home</a>
</body>
</html>